// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=33G0u0kllll23t+bHpFuZh0UScG */

// Feel free to copy&paste color codes to your application */

// As hex codes */

$color-primary-0: #2C4770;	// Main Primary color */
$color-primary-1: #95989E;
$color-primary-2: #5A6C87;
$color-primary-3: #0B295A;
$color-primary-4: #011B43;

$color-secondary-1-0: #AA9439;	// Main Secondary color (1) */
$color-secondary-1-1: #EFECE0;
$color-secondary-1-2: #CCBE82;
$color-secondary-1-3: #886E04;
$color-secondary-1-4: #655100;

$color-secondary-2-0: #AA6639;	// Main Secondary color (2) */
$color-secondary-2-1: #EFE6E0;
$color-secondary-2-2: #CCA082;
$color-secondary-2-3: #883904;
$color-secondary-2-4: #652900;
