@import "_colors.scss";

$font-family-heading: 'Playfair Display', serif;
$font-family-body: 'Playfair Display', serif;

$breakpoint-mobile: 600px;


html, body {
    margin: 0;
    background: #000;
    color: #fff;
    font-family: $font-family-body;
    font-size: 18px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $font-family-heading;
}

@import "_video.scss";

#content {
    margin: 40px auto 20px auto;
    max-width: 900px;
    position: relative;
    z-index: 1;
}

.container {
    margin: 0px 20px;
    padding: 20px;
    background-color: rgba($color-primary-0, 0.8);
    border: 1px solid $color-primary-4;

    h1 {
        text-align: center;
    }
}
